<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Discord
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding ion-text-center">
  <div class = "logo">
    <img src = "https://assets-global.website-files.com/6257adef93867e50d84d30e2/636e0a6a49cf127bf92de1e2_icon_clyde_blurple_RGB.png"> <!--placeholder for image-->
  </div>
<!--start of form for login options-->

<div class = "form">
  <ion-item lines = "none">
      <ion-input placeholder = "Email or username"></ion-input>
    </ion-item>
    <ion-item lines = "none"> <!--remove lines-->
      <ion-input placeholder = "Password"></ion-input>
  </ion-item>
  <ion-button color = "dark" expand = "block">LOGIN</ion-button>
</div>
<ion-button fill = "clear">Don't have an account? Sign up!</ion-button>
</ion-content>
